.login{
    
    width: fit-content;
    
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.192);
    margin-top: 50px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.login:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input{
    padding: 3px;
    padding-left: 10px;
    font-size: 11pt;
    display: block;
    margin: auto;
    margin-bottom: 5px;
    height: 30px;
    
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.192);
}
.input:hover{
    border: 1px solid rgba(37, 111, 221, 0.637);
}
.input:focus{
    outline: none; 
    border: 2px solid rgba(37, 111, 221, 0.637);
}
.button{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 11pt;
}
.button:active{
    transform: translateY(1px);
}
a{
    text-decoration: none;
    font-style: italic;
    display: block;
    text-align: start;
}
.prijavaHeding{
    font-weight: 400;
    margin-top: 0;
}
/* The navigation bar */
.navigacija {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  .navigacija a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style: unset;
  }
  .navigacija a:hover {
    background: #ddd;
    color: black;
  }
  .sadrzaj{

      margin-top: 80px;
  }
.navigacija>ul{
    display: flex;
    padding-left: 10px;
    list-style: none;
  }
  .labela{
    display: block;
    text-align: center;
  }
  select{
      height: 25px;
      border-radius: 7px;
      border: 1px solid rgba(37, 111, 221, 0.637);
  }
  select:focus {
    outline:0px;
    
  }
.left{
    text-align: center;
    width: 50%;
    
}
.right{
    text-align: center;
    height: 400px;
    width: 50%;
    
}
.content{
    margin: 30px;
    display: flex;
}
.naslov{
    font-size: 24px;
    font-family: monospace;
}
.tabela_mjerenja{
    border: 1px solid black;
    margin: auto;
    width: 60%;
    border-collapse: collapse;
}
.tabela_mjerenja>tr:hover{
  background-color: gray;
 
}
.tabela_mjerenja>tr:nth-child(odd){
    background-color: rgb(197, 194, 194);
}
.tabela_mjerenja>tr:nth-child(odd):hover{
    background-color: gray;
}
.modalBox{
position: absolute;
width: 100%;
height: 100%;
top: 0;
background-color: #2c2a2ad9;
}
